  * {
    scroll-padding-top: 80px;
  }
  .ff-copy{ padding-top:20px; }
  .ff-form{ text-align:left; touch-action:manipulation; margin:auto; line-height:var(--font-lineheight-4); }
  .ff-form .ff-title{ margin:0px; padding-top:0px; padding-bottom:8px; font-size:var(--ff-head-size); font-weight:400; }
  .ff-form .ff-description{ margin:0; padding-top:0; padding-bottom:0; }
  .ff-form .ff-description p{ margin:0; padding:0; }
  .ff-form .ff-banner-image{ width:100%; padding-bottom:12px; }
  .ff-form .ff-widget-error{ display:none; margin:0px; padding:10px 0px 5px 0px; color:red; }
  .ff-form .ff-widget-error b{ display:inline-block; background-color:red; color:#fff; border-radius:12px;
    width:24px; height:24px; text-align:center; margin-right:8px; }
  .ff-form .ff-section-header{ padding-top:20px; font-size:var(--ff-head-size); font-weight:400; }
  .ff-form .ff-item{ margin:0; padding-top:0; padding-block:var(--ff-size-3); }
  .ff-form.ff-layout-1column .ff-item.ff-item-prd{ padding-block:0; }
  .ff-form.ff-public-mode .ff-hide{ display:none !important; }
  .ff-form .ff-edit-hide{ text-decoration:line-through; }
  .ff-form input[type=checkbox], .ff-form input[type=radio] {
    display: inline-block; vertical-align: middle;
    block-size: var(--ff-size-3); inline-size: var(--ff-size-3);
  }
  .ff-form .ff-widget-control.ff-readonly{ background-color:var(--ff-bgcolor); box-shadow:none; cursor:default; }
  .ff-form .ff-item-noprd .ff-item-qs{ font-weight:500; }
  .ff-form.ff-layout-default .ff-item-prd .ff-item-qs{ font-weight:500; }
  .ff-form .ff-item .ff-item-qs{ margin:0; padding:0; padding-block:var(--ff-size-1); }
  .ff-form .ff-item .ff-qs-html{ display:flex; flex-direction:row; }
  .ff-form.ff-public-mode .ff-item .ff-qs-empty{ display:none; }
  .ff-form .ff-item .ff-help{ 
    display:block; margin:0px; padding-top:0px; padding-bottom:8px; 
    font-weight:400; font-size:var(--ff-font-size-0); color:var(--gray-7);
  }
  .ff-form .ff-item .ff-help p{ margin:0px; }
  .ff-form .ff-item .ff-help-empty{ display:none; }
  .ff-form .ff-item .ff-image{ margin:0px; padding-top:0px; padding-bottom:12px; }
  .ff-form .ff-required{ color:red; padding-inline:var(--ff-size-1); }
  .ff-form table{ width:100%; }
  .ff-form table tr{ height:32px; }
  .ff-form .ff-description table tr td{ 
    min-width:100px; text-align:left;
    overflow-wrap: break-word; word-wrap: break-word; 
    -ms-word-break: break-all; word-break: break-all; word-break: break-word;
    -ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto;
  }
  @media (max-width: 768px) {
    .ff-form .ff-description table tr td{ min-width:70px; padding:8px 4px 8px 0px; }
  }
  .ff-item-noprd.ff-grid, .ff-item-noprd.ff-scale{ overflow:auto; }
  .ff-form table tr td{ font-size:var(--ff-font-size-1); vertical-align:middle; text-align:center; padding:8px 12px 8px 0px; }
  .ff-form table tr .ff-grid-label{ text-align:left; }
  .ff-form .ff-form-check{ min-width:50px; }
  .ff-form .ff-form-check-label{ display:inline-block; font-weight:400; padding-left:var(--ff-size-1); }
  .ff-form .ff-form-check-other input[type=text]{ display:inline-block; width:auto; margin-left:var(--ff-size-1); }
  .ff-form .ff-check-cell{ display:inline-block; padding-left:0px; padding-right:20px; margin-left:0px; margin-right:20px; margin-top:10px; margin-bottom:10px; }
  .ff-form .ff-check-cell .ff-check-cell-image{ display:block; margin-bottom:10px; vertical-align:bottom; max-height:250px; cursor:pointer; }
  .ff-form .ff-check-cell .ff-form-check-input{ margin-left:0px; }
  .ff-form .ff-check-cell .ff-form-check-label{ margin-left:2px; }
  .ff-form .ff-check-table{ display:table; width:100%; }
  .ff-form .ff-image{ display:block; max-width:100%; }
  .ff-form .ff-video{ display:block; max-width:100%; }
  .ff-form .ff-button-bar{ padding-top:var(--ff-size-3); padding-bottom:var(--ff-size-1); }
  .ff-form button{ 
    display: inline-flex; justify-content:center; vertical-align:middle;
    padding-block: var(--ff-size-3); padding-inline: var(--ff-size-4); 
  }
  .ff-form button span{ place-self:center; font-size:var(--ff-font-size-0); }
  .ff-form button .material-icons{ font-size:var(--ff-font-size-2); padding-right:var(--ff-size-1); }
  .ff-form button .right-icon.material-icons{ padding-left:var(--ff-size-1); }
  .ff-form [type='date']::-webkit-inner-spin-button { display: none; }
  .ff-form [type='time']::-webkit-inner-spin-button { display: none; }
  .ff-alert{ padding:.75rem 1.25rem; margin-bottom:1rem; border:1px solid transparent;
    border-radius: .25rem; color:#721c24; background-color:#f8d7da; border-color:#f5c6cb; }
  .ff-partial{ display:flex; justify-content:space-between; margin-left:auto; margin-right:auto; margin-bottom:8px; 
    padding:.75rem 1.25rem; border:1px solid transparent; border-radius: .25rem; color:#004085; background-color:#cce5ff; border-color:#b8daff; }
  .ff-partial a{ padding-left:12px; color:#004085; text-decoration:underline; font-weight:500; }
  .ff-partial a:hover{ text-decoration:underline; font-weight:500; }
  .ff-form .ff-jump{ width:120px; float:right; margin-top:20px; }
  .ff-form input::placeholder, .ff-form textarea::placeholder{ color:rgba(0,0,0,0.54); font-size:var(--ff-font-size-0); }
  .ff-form .ff-category-switch{ font-size:var(--ff-font-size-8); }
  .ff-form .ff-long-list{ background:url('https://formfacade.com/img/arrow_drop_down.svg') no-repeat right 15px center; }
  .ff-form .ff-long-list:hover{ background:var(--ff-field-bgcolor) no-repeat right 15px center; }
  .ff-form .ff-bill{ width:auto; min-width:60%; max-width:100%; }
  .ff-form .ff-bill td{ }
  .ff-form .ff-bill thead{ font-weight:600; }
  .ff-form .ff-bill tr td{ text-align:right; }
  .ff-form .ff-bill tr td s{ padding-left:5px; }
  .ff-form .ff-bill tr td:first-child{ text-align:left; }
  .ff-form .ff-bill tfoot td{ font-weight:600; vertical-align:top; }
  .ff-form .ff-bill tfoot .ff-bill-saved{ font-weight:400; }
  .ff-payment-form .ff-paylist{}
  .ff-payment-form .ff-paylist .ff-payoption{ 
    display:grid; grid-template-columns:40px auto 40px; 
    column-gap:20px; height:40px; cursor:pointer;
  }
  .ff-payment-form .ff-paylist .ff-payoption:hover{ background-color:#f1f1f1; }
  .ff-payment-form .ff-paylist .ff-payoption div{ display:flex; align-items:center; }
  .ff-payment-form .ff-paylist .ff-payoption .ff-payname{ font-size:var(--ff-font-size-2); }
  .ff-form .ff-powered{ 
    float:right; text-align:center; text-decoration:none;
    padding-bottom:0px; padding-top:12px; margin-left:12px;
  }
  .ff-form .ff-powered:hover{ color:#001f3f !important; border-bottom:1px solid #001f3f !important; }
  .ff-form .ff-powered-img{ float:right; text-decoration:none; margin-top:0px; }
  .ff-form .ff-powered-img img{ border:solid 1px rgba(0, 0, 0, 0.1); border-radius:6px; width:auto; height:52px; }
  .ff-form .ff-warned{ 
    float:right; text-align:center; text-decoration:none; border-radius:2px;
    color:#000!important; background-color:#ffdddd!important; padding:10px; border:0px solid #001f3f !important; 
  }
  .ff-form .ff-warned b{ font-size:var(--ff-font-size-2); }
  .ff-form .ff-blocked{ 
    float:right; text-align:center; text-decoration:none; border-radius:2px;
    color:#fff!important; background-color:#f44336!important; padding:10px; border:0px solid #001f3f !important; 
  }
  .ff-form .ff-blocked b{ font-size:var(--ff-font-size-2); }
  .ff-form .ff-submit-icon{ display:inline; margin-top:0; margin-right:var(--ff-size-1); width:20px; height:auto; vertical-align:middle; }
  .ff-success{ height:calc(100vh - 340px); width:100; display:inline-table; vertical-align:middle; }
  .ff-summary, .ff-form .ff-summary{ width:auto; }
  .ff-summary tr td:nth-child(1), .ff-form .ff-summary tr td:nth-child(1) { font-weight:550; }
  .ff-summary tr td, .ff-form .ff-summary tr td{ vertical-align:top; text-align:left; }
  .ff-menu-sec{ }
  .ff-menu-ttl{ padding-top:4px; font-weight:600; cursor:pointer; }
  .ff-menu{ display:flex; justify-content:space-between; cursor:pointer; }
  .ff-menu-prd{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
  .ff-menu-prd:after {
    content: " ..........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................."
  }
  .ff-menu-prc{ flex-shrink:0; }
  .ff-addprd-overlay{ display:none; }
  .ff-item-prd .ff-add-cart{ display:none; }
  .ff-item-prd .ff-sel-cart{ display:none; }

  .ff-pay-qrcode{ margin-top:10px; margin-bottom:10px; width:300px; height:auto; }
  .ff-pay-link{ margin-top:10px; margin-bottom:10px; }
  .ff-pay-text{ margin-bottom:10px; font-size:var(--ff-font-size-2); }

  .ff-form .ff-embed-responsive {
    position: relative; display: block;
    width: 100%; height: 100%;
    padding: 0; overflow: hidden;
  }
  .ff-form .ff-embed-responsive::before {
    padding-top: 56.25%; display: block; content: "";
  }
  .ff-form .ff-embed-responsive .ff-embed-responsive-item {
    position: absolute; top: 0; bottom: 0; left: 0;
    width: 100%; height: 100%; border: 0;
  }

  .uppy-Dashboard{ z-index:9999 !important; font-family:var(--ff-paragraph-font) !important; }
  .uppy-DashboardContent-title, .uppy-Dashboard-AddFiles-title{ font-family:var(--ff-heading-font) !important; }
  .uppy-Dashboard .uppy-Dashboard-close{ top:0px !important; right:0px !important; }
  .uppy-Dashboard .uppy-Dashboard-close span{ display: inline-block; width: 40px; height: 40px; text-align: center; background-color: red; }
  .uppy-Dashboard .uppy-DashboardContent-addMore{ position:absolute; right:80px; }
  .uppy-StatusBar-content[title="Complete"] .uppy-StatusBar-statusPrimary{
    cursor:pointer; margin-top:2px; padding:10px 9px 11px 9px; border-radius:4px; 
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.2); background-color:#1bb240; 
    color:white; text-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .uppy-StatusBar-content[title="Complete"] .uppy-StatusBar-statusPrimary svg{ color:white; }
  .uppy-Dashboard-AddFiles-list{ display:none !important; }
  .ff-form .ff-file-upload{ padding-top:2px; }
  .ff-form .ff-file-upload a{ display:inline-block; vertical-align:middle; background-color:#ededed; color:#606060; text-decoration:none; }
  .ff-form .ff-file-upload a:hover { background-color: #d6d6d6; }
  .ff-form .ff-file-upload a.addfile{ padding:6px 8px; border-radius:4px; }
  .ff-form .ff-file-upload a.addedfile{ padding:4px 8px; border-radius:3px; margin-right:2px; }
  .ff-form .ff-wa-qrcode img{ width:400px; height:auto; margin-top:10px; margin-bottom:20px; }
  .ff-form .ff-wa-qrcode .ff-description{ font-size:var(--ff-font-size-2); }
  .ff-form .ff-wa-qrcode .ff-description a{ border-bottom-style:solid; padding-bottom:3px; font-weight:600; text-decoration:none; }

  .ff-form .ff-signature{
    padding-top:2px; background-color: var(--ff-field-bgcolor); -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset; position: relative; height:240px; border: 1px dashed #ccc;
  } 
  .ff-form .ff-signature hr { margin:0; border-top-color:#cbcbcb; }
  .ff-form .ff-signature .sign_clear { padding: 10px 10px 0px 10px; cursor: pointer; font-weight: 500;font-size: 14px; position: absolute; right:0; bottom:0 }

  @media only screen and (max-width: 768px) {
    .ff-form .ff-bill{ width:100%; max-width:100%; }
    .uppy-Dashboard .uppy-DashboardContent-addMore{ position:absolute; right:50px; }
    .ff-form .ff-powered-img{ width:100%; padding-top:30px; padding-bottom:20px; }
  }

  @media only screen and (-webkit-device-pixel-ratio: 2) { .ff-form select{ font-size:var(--ff-font-size-2); } }
  @media screen and (-webkit-device-pixel-ratio: 3) { .ff-form select{ font-size:var(--ff-font-size-2); } }

  .ff-layout-2column .ff-help{ display:none; }
  .ff-layout-2column .ff-help.ff-help-empty{ padding:0px; margin:0px; }
  .ff-layout-2column .ff-item-noprd.ff-part-width{ 
    display:grid; grid-template-rows:fit-content(28px) max-content fit-content(32px) auto auto; 
    grid-template-areas:'question' 'image' 'widget' 'feedback' 'helptxt';
  }
.ff-layout-2column .ff-item-noprd.ff-part-width .ff-image { grid-area:image; }
.ff-layout-2column .ff-item-noprd.ff-part-width label { grid-area:question; }
.ff-layout-2column .ff-item-noprd.ff-part-width .ff-widget-control{ grid-area:widget; }
.ff-layout-2column .ff-item-noprd.ff-part-width .ff-widget-error{ grid-area:feedback; }
.ff-layout-2column .ff-item-noprd.ff-part-width .ff-help { grid-area:helptxt; margin-top:8px; }

.ff-layout-2column .ff-secfields .ff-item-noprd.ff-full-width .ff-wrap-choices,
.ff-layout-1column .ff-secfields .ff-item-noprd.ff-full-width .ff-wrap-choices{
  display:grid; grid-template-columns:1fr 1fr;
}

  @media (max-width: 768px) {
    .ff-layout-2column{ max-width:100%; padding:10px; }
  }
  @media (min-width: 768px) {
    .ff-layout-2column{ max-width:740px; padding:15px 30px; }
    .ff-layout-2column .ff-secfields {
      display:grid; grid-template-columns:1fr 1fr;
      column-gap:20px; margin-top:0px;
    }
    .ff-layout-2column .ff-secfields .ff-item-noprd.ff-full-width {
      grid-column-start:1; grid-column-end:-1;
    }
  }

  @media (max-width: 768px) {
    .ff-layout-1column{ max-width:100%; padding:10px; }
  }
  @media (min-width: 768px) {
    .ff-layout-1column{ max-width:740px; padding:15px 30px; }
  }

  @media (max-width: 768px) {
    .ff-layout-default{ max-width:100%; padding:10px; }
  }
  @media (min-width: 768px) {
    .ff-layout-default{ max-width:740px; padding:15px 30px; }
  }

  @media (max-width: 768px) {
    .ff-message{ max-width:calc(100% - 20px); margin:auto; }
  }
  @media (min-width: 768px) {
    .ff-message{ max-width:680px; margin:auto; }
  }


#ff-addprd-overlay{
  display:none; position:fixed; z-index:99999; left: 0; right: 0; top: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3); opacity: 0; transition: all 0.5s ease-in-out;
}
#ff-addprd-overlay.active { display:block; opacity:1; }

#ff-addprd-popup{
  display:none; position:fixed; overflow-y:auto; z-index:100000; opacity:1; padding:20px; 
  font-size:var(--ff-font-size-1); color:var(--ff-font-color); font-family:var(--ff-paragraph-font);
  background-color:#fff; box-shadow:3px 3px 3px rgba(0, 0, 0, 0.2); transition: all 0.5s ease-in-out;
}
#ff-addprd-popup.active { display:block; opacity:1; }
#ff-addprd-popup label{ font-size:var(--ff-font-size-1); color:var(--ff-font-color); }

@media (min-width: 599px) {
  #ff-addprd-popup{
    top: 50%; left: 50%; transform: translate(-50%, -50%); width:480px; min-height:240px; max-height:90vh; 
    border:0px solid rgba(0, 0, 0, 0.3); border-radius:.3rem; 
  }
}

@media (max-width: 599px) {
  #ff-addprd-popup{ height:0; user-select:none; -webkit-user-select:none; }
  #ff-addprd-popup.active{ 
    left:0; right:0; bottom:0; height:auto; max-height:480px; padding-bottom:20px; width:100%; 
  }
  #ff-addprd-popup.ff-consent-confirm{ max-height: 90vh; width: 100% !important; }
  #ff-addprd-popup.ff-consent-confirm .ff-consent-body {
    max-width:468pt !important;margin: 0 auto !important;
  }
  .ff-consent-content {  padding: 10pt !important; background-color: #f2f2f2;}
  .ff-consent-footer {
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5); border-radius: 0px !important;
  }
}

#ff-addprd-popup .ff-popup-header{ font-family:var(--ff-heading-font); padding-bottom:24px; }
#ff-addprd-popup .ff-popup-header .ff-popup-title{ display:inline-block; max-width:75vw; font-size:var(--ff-font-size-2); }
#ff-addprd-popup .ff-popup-header .material-icons{ float:right; cursor:pointer; }
#ff-addprd-popup .ff-popup-content{ font-family:var(--ff-paragraph-font); font-size:var(--ff-font-size-1); }
#ff-addprd-popup .ff-popup-footer{ padding-top:16px; }
#ff-addprd-popup.ff-consent-confirm{ width: 80%; background-color: #f2f2f2; padding: 0px; }
#ff-addprd-popup.ff-consent-confirm .ff-consent-body {
  background-color:#ffffff;padding:72pt 72pt 72pt 72pt;max-width:468pt;margin: 0 auto; padding: 20px; margin-top: 20px;min-height:40vh;
}
#ff-addprd-popup.ff-consent-confirm .ff-consent-body .border-bottom { border-bottom: 1px solid #eee!important }
.ff-consent-close{ background-color: #ccc;color: #333;}
.ff-consent-body .answer { color: #000; font-family: 'roboto', sans-serif; margin: 5px 0; word-break: break-word; }

.ff-consent-footer {
  display: flex; justify-content: center; align-items: center; padding: 16px; position: sticky; bottom: 0; background-color: #f5f5f5;
}

.ff-consent-footer button{
  padding-block: var(--ff-size-3); padding-inline: var(--ff-size-4); margin-right: 20px;
}

.ff-cta-center{ text-align:center; }
.ff-app-install{ text-decoration:none !important; }
.ff-app-install img{ display:inline; margin:auto; height:auto; }

.ff-cta-calendar{ padding-bottom:8px; }

.mdViewer p img + br { content:""; }
.mdViewer p img { max-width: 100%; }
